<br \>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f  -> %>

  <% login_field = Coherence.Config.login_field %>
  <div class="form-group">
    <%= required_label f, login_field, class: "control-label" %>
    <%= text_input f, login_field, class: "form-control", required: "" %>
    <%= error_tag f, login_field %>
  </div>

  <div class="form-group">
    <%= required_label f, :password, class: "control-label" %>
    <%= password_input f, :password, class: "form-control", required: "" %>
    <%= error_tag f, :password %>
  </div>

  <%= if @remember do %>
    <div class="form-group">
      <input type="checkbox"  name="remember"> Remember Me?
    </div>
    <br />
  <% end %>

  <div class="form-group">
    <%= submit "Sign In", class: "btn btn-primary" %>
    <a href="/auth/wsm" class="btn btn-warning">
      <img width="20" height="20" src="<%= static_path(RoomPlz.Endpoint, "/images/wsm.png") %>" alt="WSM icon">
      Login with WSM
    </a>
    <%= link "Cancel", to: Coherence.Config.logged_out_url("/"), class: "btn" %>
  </div>

  <div class="form-group">
    <%= coherence_links(@conn, :new_session) %>
  </div>

<% end %>
