<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12 blog-main">

      <div class="blog-post">
        <div id="room-title" class="col-sm-12">

          <!-- Calendar Title Header -->
          <div class="fc fc-unthemed fc-ltr">
            <div class="fc-view-container">
              <div class="fc-view fc-agendaDay-view fc-agenda-view">
                <table>
                  <tbody class="fc-body">
                  <tr>
                    <td class="fc-widget-content" >
                      <div class="fc-day-grid fc-unselectable" style="border-right-width: 1px;">
                        <div class="fc-row fc-week fc-widget-content">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                              <tr>
                                <td class="fc-axis fc-widget-content" style="width: 38px;background: white"><span>Room</span></td>
                                <td class="fc-day fc-widget-content fc-tue fc-state-highlight" id="taskbar"></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <tbody>
                              <tr id="row-content">
                                <td class="fc-axis" style="width: 38px"></td>

                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <%= Phoenix.View.render RoomPlz.PageView, "authorization.html", %{conn: @conn, branch: @branch} %>

        <!--Date Picker-->
        <div class="form-group row pick-date">
          <div class="col-sm-6">
            <label for="minicalendar" class="col-sm-2 control-label">Date: </label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="minicalendar">
            </div>
          </div>

          <div class="col-sm-6" style="position: relative; left: -40px;">
            <label class="col-sm-5 control-label" style="padding: 0 0 0 10px;">
              Display
              <span class="badge" data-toggle="tooltip" data-placement="top" title="Go to profile to change default team">
                <a href="<%= if @current_user, do: user_path(@conn, :edit, @current_user.id), else: '/sessions/new' %>" id="edit-user"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
              </span>:
            </label>
            <div class="col-sm-7" style="padding: 0">
              <select class="form-control" id="team-picker">
                <option value="0">Room Color</option>
                <option value="-3">My Events</option>

                <option disabled>──────────</option>
                <%= for {name, id} <- @conn.assigns.teams do %>
                <%= if @current_user && id == @current_user.team_id do %>
                  <option value="<%= id %>" selected><%= name %></option>
                <%= else %>
                  <option value="<%= id %>"><%= name %></option>
                <%= end %>
                <%= end %>

                <option disabled>──────────</option>
                <option value="-1">Outdated Events</option>
                <option value="-2">Overlap Events</option>
              </select>

            </div>
          </div>
        </div>

        <!--Print out calendar -->
        <h4 class="text-center branch-title">
          Branch: <%= @branch.name %>
        </h4>
        <div id='calendar' data-editable="<%= @editable %>" data-branch-id="<%= @branch.id %>"
             data-calendar-id = "<%= @branch.calendar_id %>" data-selectable="<%= @selectable %>"
             data-user-id = "<%= if (@current_user), do: @current_user.id %>"
             data-user-role = "<%= if (@current_user), do: @current_user.role %>"
             data-csrf-token = "<%= Plug.CSRFProtection.get_csrf_token() %>"
        >

        </div>

        <!--Show tooltip when click-->
        <div id="event-popup" style="display:none;">
          When: <span id="event-when"></span><br>
          Creator: <span id="event-creator"></span><br>
          <span id="event-repeat"></span>
          <br>
          <a class="btn btn-success edit" href="#">Edit</a>
          <a class="btn btn-primary details" href="#" target="_blank">Details</a>
          <a class="btn btn-warning reject" data-event-id="0" data-start-time="">Reject Options</a>
        </div>

        <!--New event when select-->
        <%= if (@current_user) do %>
          <div id="new-event" hidden>
            <%= form_for @conn, branch_event_path(@conn, :create, @branch), [as: :event], fn f -> %>
              <%= hidden_input f, :creator_id, value: @current_user.id %>

              <div class="form-group">
                <%= label f, :title, class: "control-label" %>
                <%= text_input f, :title, class: "form-control" %>
              </div>

              <div class="form-group">
                <label class="control-label">When</label>
                <p id="datetime" class="form-control"></p>
              </div>

              <div class="form-group">
                <label class="control-label">Room: </label>
                <select name="event[room_id]" class="form-control" id="room-picker">
                  <%= for room <- @rooms do %>
                  <option value="<%= room.id %>"><%= room.name %></option>
                  <%= end %>
                </select>
              </div>

              <div class="form-group">
                <div class="col-sm-6 form-group zero-padding-left">
                  <label class="control-label">Team Calendar</label>
                  <%= select f, :team_id, @conn.assigns.teams, prompt: "Choose your team", class: "form-control" %>
                </div>
                <div class="col-sm-6 form-group zero-padding-right">
                  <label class="control-label">Team Event Color</label>
                  <%= text_input f, :color, class: "form-control" %>
                </div>
              </div>

              <div class="form-group" id="invitation-div"></div>

              <div class="form-group" id="collaborator-div"></div>

              <%= submit "Submit", class: "btn btn-success form-submit" %>

              <%= if RoomPlz.User.is_admin?(@current_user) do %>
                <button class="btn btn-danger force-submit">Force Submit</button>
              <%= end %>
            <% end %>
          </div>
        <%= end %>
      </div>

      <!-- Synchronize date time -->
      <div id="synchronize-div" hidden>
        <label class="control-label">Start time to synchronize:</label>
        <input type="text" id="synchronize-datetime" class="form-control">
        <button id= "synchronize-button" class="btn btn-success form-control" style="margin-top: 10px"> Synchronize </button>
        <p style="margin-top: 10px">
          <span style="color: red; font-weight: bold">*Note:</span> Remember to authenticate before synchronization
        </p>
      </div>

      <!-- Synchronize date time -->
      <div id="reject-div" hidden>
        <label class="control-label">Reject Recurring Event:</label>
        <button id= "reject-single" class="btn btn-warning form-control" style="margin-top: 10px" data-event-id="0" data-except-time="">
          Only This Event
        </button>
        <button id= "reject-all" class="btn btn-danger form-control" style="margin-top: 10px" data-event-id="0">
          All Events
        </button>
      </div>

      <!-- Warning Overlap Event -->
      <div id="warning-expire" hidden data-val="-1">
        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 30px; color: white;"
           data-toggle="tooltip" data-placement="top" title="Show outdated events"></i>
      </div>
      <div id="warning-overlap" hidden data-val="-2">
        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 30px; color: yellow;"
           data-toggle="tooltip" data-placement="top" title="Show overlapped events"></i>
      </div>

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</div><!-- /.container -->