<div>
    <p>Hello <%= @user["name"] %>!<p>
    <p>
        Your new account has been created through WSM account. Please save your account information for next login.
    </p>
    <ul>
        <li>Email: <%= @user["email"] %></li>
        <li>Password: <%= @user["password"] %></li>
    </ul>
    <p>Welcome you to Framgia Booking Schedule</p>
</div>

