<h1>Car Booking Information</h1>
<div>
    <p><strong>Title:</strong> <%= @slot.title %><p>
    <p><strong>Date:</strong> <%= get_date(@slot.start) %><p>
    <p><strong>From:</strong> <%= get_time(@slot.start) %>, To: <%= get_time(@slot.end) %> <p>
    <p><strong>Description:</strong> <%= @slot.description %><p>
    <p><strong>Users:</strong> <%= @slot.utilizer %><p>
    <p><strong>Driver:</strong> <%= @slot.driver %><p>
</div>

<div>
    <p>
        You can check out <strong>calendar</strong> in the following link:
        <%= RoomPlz.Router.Helpers.car_url(RoomPlz.Endpoint, :show_car_calendar, date: get_date(@slot.start)) %>
    </p>

    <p>
        You can check out <strong>booking history and details</strong> in the following link:
        <%= RoomPlz.Router.Helpers.slot_url(RoomPlz.Endpoint, :show, @slot) %>
    </p>
</div>