<%= form_for @changeset, @action, [as: :registration], fn f  -> %>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= required_label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control", required: "" %>
    <%= error_tag f, :name %>
  </div>

  <%= unless (login_field = Coherence.Config.login_field) == :email do %>
    <div class="form-group">
      <%= required_label f, login_field, class: "control-label" %>
      <%= text_input f, login_field, class: "form-control", required: "" %>
      <%= error_tag f, login_field %>
    </div>
  <% end %>

  <div class="form-group">
    <%= required_label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control", required: "" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= required_label f, :password, class: "control-label" %>
    <%= password_input f, :password, [class: "form-control"] ++ @required %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <%= required_label f, :password_confirmation, class: "control-label" %>
    <%= password_input f, :password_confirmation, [class: "form-control"] ++ @required %>
    <%= error_tag f, :password_confirmation %>
  </div>
  <div class="form-group">
    <%= submit @label, class: "btn btn-primary" %>
    <a href="/auth/wsm" class="btn btn-warning">
      <img width="20" height="20" src="<%= static_path(RoomPlz.Endpoint, "/images/wsm.png") %>" alt="WSM icon">
      Login with WSM
    </a>
    <%= link "Cancel", to: Coherence.Config.logged_out_url("/"), class: "btn" %>
  </div>
<% end %>
