<h2>Edit user</h2>

<%= render "form.html", changeset: @changeset, current_user: @current_user, conn: @conn,
                        is_owner: @is_owner, action: user_path(@conn, :update, @user) %>

<%= link "Back", to: user_path(@conn, :index) %>