<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= required_label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= required_label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control", disabled: true %>
    <%= error_tag f, :email %>
  </div>

  <div class="password-field <%= if RoomPlz.User.is_edit_page(@conn), do: 'hidden'%>">
    <div class="form-group">
      <%= required_label f, :current_password, class: "control-label" %>
      <%= password_input f, :current_password, class: "form-control password disabled", disabled: RoomPlz.User.is_edit_page(@conn) %>
      <%= error_tag f, :current_password %>
    </div>

    <div class="form-group">
      <%= required_label f, :password, class: "control-label" %>
      <%= password_input f, :password, class: "form-control password disabled", disabled: RoomPlz.User.is_edit_page(@conn) %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
    <%= required_label f, :password_confirmation, class: "control-label" %>
      <%= password_input f, :password_confirmation, class: "form-control password disabled",
        disabled: RoomPlz.User.is_edit_page(@conn) %>
      <%= error_tag f, :password_confirmation %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :role, class: "control-label" %>
    <%= select f, :role, RoomPlz.User.list_roles(@current_user), class: "form-control",
                  disabled: !RoomPlz.User.is_super_admin?(@current_user) && !@is_owner %>
    <%= error_tag f, :role %>
  </div>

  <div class="form-group">
    <%= label f, :default_branch, class: "control-label" %>
    <select name="user[branch_id]" class="selectpicker form-control" id="branch-picker">
      <%= for {name, id} <- RoomPlz.Branch.all_for_select(@current_user) do %>
      <option value="<%= id %>"><%= name %></option>
      <%= end %>
    </select>
  </div>

  <div class="form-group">
    <%= label f, :invitation_suggestion, class: "control-label" %>
    <%= text_input f, :invitation_list, class: "form-control", id: "invitations" %>
    <%= error_tag f, :invitation_list %>
  </div>

  <div class="form-group">
    <%= label f, :default_team, class: "control-label" %>
    <%= select f, :team_id, @conn.assigns.teams, prompt: "Choose your team", class: "form-control" %>
    <%= error_tag f, :team_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary", id: "user-edit" %>

    <%= if RoomPlz.User.is_edit_page(@conn) && @is_owner do %>
    <a class="btn btn-warning" id="password-edit">Toggle password</a>
    <%= end %>
  </div>
<% end %>
