<h2>Listing users</h2>

<table class="table" id="search-table">
  <thead class="table-header">
    <tr>
      <th>Name <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Email <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Role <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Default Branch <i class="fa fa-sort" aria-hidden="true"></i></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= if user.branch, do: user.branch.name, else: "" %></td>

      <td class="text-right">
        <%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New user", to: user_path(@conn, :new) %>
