<h2>New user</h2>

<%= render "form.html", changeset: @changeset, current_user: @current_user, conn: @conn,
                        action: user_path(@conn, :create) %>

<%= link "Back", to: user_path(@conn, :index) %>
