<h2 style="margin-bottom: 20px">Show user</h2>

<table class="table table-hover">
  <tr>
    <td><strong><i class="fa fa-user-o"></i> Name:</strong></td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td><strong><i class="fa fa-envelope-o"></i> Email:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong><i class="fa fa-address-card"></i> Role:</strong></td>
    <td><%= @user.role %></td>
  </tr>
  <tr>
    <td><strong><i class="fa fa-building-o"></i> Default Branch:</strong></td>
    <td><%= if @user.branch, do: @user.branch.name, else: "" %></td>
  </tr>
  <tr>
    <td><strong><i class="fa fa-users" aria-hidden="true"></i> Default Team:</strong></td>
    <td><%= @team.name %></td>
  </tr>
  <tr>
    <td><strong><i class="fa fa-list" aria-hidden="true"></i> Invitation Suggestion:</strong></td>
    <td><%= @user.invitation_list %></td>
  </tr>
</table>

<%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-primary", style: "margin-right: 5px" %>
<%= link "Back", to: user_path(@conn, :index), class: "btn btn-primary" %>
