<h2>Listing user event requests</h2>

<hr>
<div>
    <div class="form-group row">
        <label class="control-label col-sm-2">
            All events
            <span class="badge" data-toggle="tooltip" data-placement="top" title="By default, only 150 recent events are shown">?</span>
            :
        </label>
        <%= link "Show All Events", to: user_user_path(@conn, :user_requests, @user_id, show: "all"), class: "btn btn-success col-sm-2" %>
    </div>
</div>

<hr>
<table class="table" id="search-table">
    <thead class="table-header">
    <tr>
        <th>ID <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Title <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Collaborators <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Branch <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Room <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Start <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>End <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Repeat <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Status <i class="fa fa-sort" aria-hidden="true"></i></th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    <%= for event <- @events do %>
    <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td>
            <%= if event.collaborators do %>
            <select class="selectpicker" data-width="150px">
                <%= for email <- RoomPlz.User.show_emails(event.collaborators) do %>
                <option><%= email %></option>
                <%= end %>
            </select>
            <%= end %>
        </td>
        <td><%= event.room.branch.name %></td>
        <td><%= event.room.name %></td>
        <td><%= RoomPlz.Tools.ecto_to_local_datetime(event.start, :datetime_str) %></td>
        <td><%= RoomPlz.Tools.ecto_to_local_datetime(event.end, :datetime_str) %></td>
        <td><%= event.repeat %></td>
        <td><%= String.capitalize(event.status) %></td>

        <td class="text-right" style="width: 250px">
            <%= Phoenix.View.render RoomPlz.EventView, "action.html", %{conn: @conn, event: event, branch: event.room.branch.id} %>

            <%= link "Edit", to: branch_event_path(@conn, :edit, event.room.branch.id, event), class: "btn btn-primary btn-xs" %>

            <%= link "Show", to: branch_event_path(@conn, :show, event.room.branch.id, event), class: "btn btn-primary btn-xs" %>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>