<h2>Listing slots</h2>
<hr>
<div>
  <div class="form-group branch-selection row">
    <label class="control-label col-sm-2">Event Logs: </label>
    <%= link "Show all logs", to: slot_log_path(@conn, :index), class: "btn btn-success col-sm-2" %>
  </div>
</div>

<hr>
<table class="table" id="search-table">
  <thead>
    <tr>
      <th>Title <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Start <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>End <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Status <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Description <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Utilizer <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Driver <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Creator <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Car <i class="fa fa-sort" aria-hidden="true"></i></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for slot <- @slots do %>
    <tr>
      <td><%= slot.title %></td>
      <td><%= slot.start %></td>
      <td><%= slot.end %></td>
      <td><%= slot.status %></td>
      <td><%= slot.description %></td>
      <td><%= slot.utilizer %></td>
      <td><%= slot.driver %></td>
      <td><%= slot.creator.name %></td>
      <td><%= slot.car.name %></td>

      <td class="text-right">
        <%= form_for @conn, slot_path(@conn, :update, slot),
        [as: :slot, style: "display: inline-block; margin: 0"], fn f -> %>
          <input name="_method" type="hidden" value="PUT">
          <%= text_input f, :form_type, hidden: true, value: "form" %>
          <%= text_input f, :status, hidden: true, value: "approved" %>
          <div class="form-group">
            <%= submit "Approve", class: RoomPlz.Event.get_class(slot.status, :approved),
            disabled: slot.status == "approved" %>
          </div>
        <%= end %>

        <%= form_for @conn, slot_path(@conn, :update, slot),
        [as: :slot, style: "display: inline-block; margin: 0"], fn f -> %>
          <input name="_method" type="hidden" value="PUT">
        <%= text_input f, :form_type, hidden: true, value: "form" %>
          <%= text_input f, :status, hidden: true, value: "rejected" %>
          <div class="form-group">
            <%= submit "Reject", class: RoomPlz.Event.get_class(slot.status, :rejected),
            disabled: slot.status == "rejected" %>
          </div>
        <%= end %>

        <%= link "Show", to: slot_path(@conn, :show, slot), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: slot_path(@conn, :edit, slot), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: slot_path(@conn, :delete, slot), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>