<h2>Show slot</h2>

<ul>

  <li>
    <strong>ID:</strong>
    <%= @slot.id %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @slot.title %>
  </li>

  <li>
    <strong>Start:</strong>
    <%= @slot.start %>
  </li>

  <li>
    <strong>End:</strong>
    <%= @slot.end %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @slot.status %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @slot.description %>
  </li>

  <li>
    <strong>Utilizer:</strong>
    <%= @slot.utilizer %>
  </li>

  <li>
    <strong>Driver:</strong>
    <%= @slot.driver %>
  </li>

  <li>
    <strong>Creator:</strong>
    <%= @slot.creator.name %>
  </li>

  <li>
    <strong>Car:</strong>
    <%= @slot.car.name %>
  </li>

</ul>

<table class="table" id="search-table">
  <thead class="table-header">
  <tr>
    <th>Action <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Detail <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Creator <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Utilizer <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Driver <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Created at <i class="fa fa-sort" aria-hidden="true"></th>
  </tr>
  </thead>
  <tbody>
  <%= for slot_log <- @slot.slot_logs do %>
  <tr>
    <td><%= slot_log.action %></td>
    <td><%= slot_log.detail %></td>
    <td><%= slot_log.user.name %></td>
    <td><%= slot_log.utilizer %></td>
    <td><%= slot_log.driver %></td>
    <td><%= RoomPlz.Tools.naive_to_local_datetime(slot_log.inserted_at, :datetime_str) %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link "Calendar", to: car_path(@conn, :show_car_calendar) %> &nbsp;
<%= link "Edit", to: slot_path(@conn, :edit, @slot) %> &nbsp;
<%= link "Back", to: slot_path(@conn, :index) %>
