<h2>Edit room</h2>

<%= render "form.html", changeset: @changeset, branch: @branch, branches: @branches,
                        action: branch_room_path(@conn, :update, @branch, @room) %>

<%= link "Back", to: branch_room_path(@conn, :index, @branch) %>
