<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= required_label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name_constraint %>
  </div>

  <div class="form-group">
    <%= required_label f, :capacity, class: "control-label" %>
    <%= number_input f, :capacity, class: "form-control" %>
    <%= error_tag f, :capacity %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :overlap_acceptance, class: "control-label" %>
    <%= select f, :overlap_acceptance, ["False": false, "True": true], class: "form-control", selected: false %>
    <%= error_tag f, :capacity %>
  </div>

  <div class="form-group">
    <%= required_label f, :color, class: "control-label" %>
    <%= text_input f, :color, class: "form-control" %>
    <%= error_tag f, :color %>
  </div>

  <div class="branch-selection">
    <div class="form-group">
      <label class="control-label">Branch: </label>
      <select name="room[branch_id]" class="selectpicker">
        <%= for {name, id} <- @branches do %>
          <%= if (id == @branch.id) do %>
            <option value="<%= id %>" selected><%= name %></option>
          <%= else %>
            <option value="<%= id %>"><%= name %></option>
          <%= end %>
        <%= end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
