<h2>Listing rooms</h2>

<table class="table" id="search-table">
  <thead class="table-header">
    <tr>
      <th>Name <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Capacity <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Description <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Color <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Overlap Acceptance <i class="fa fa-sort" aria-hidden="true"></i></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for room <- @rooms do %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.capacity %></td>
      <td><%= room.description %></td>
      <td><%= room.color %></td>
      <td><%= room.overlap_acceptance %></td>

      <td class="text-right">
        <%= link "New event", to: branch_event_path(@conn, :new, @branch, room_id: room.id), class: "btn btn-success btn-xs" %>
        <%= link "Show", to: branch_room_path(@conn, :show, @branch, room), class: "btn btn-primary btn-xs" %>
        <%= link "Edit", to: branch_room_path(@conn, :edit, @branch, room), class: "btn btn-primary btn-xs" %>
        <%= link "Delete", to: branch_room_path(@conn, :delete, @branch, room), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= if RoomPlz.User.is_admin?(@current_user) do %>
  <%= link "New room", to: branch_room_path(@conn, :new, @branch) %>
<%= end %>