<h2>New room</h2>

<%= render "form.html", changeset: @changeset, branch: @branch, branches: @branches,
                        action: branch_room_path(@conn, :create, @branch) %>

<%= link "Back", to: branch_room_path(@conn, :index, @branch) %>
