<h2>Show room</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @room.name %>
  </li>

  <li>
    <strong>Branch:</strong>
    <%= @branch.name %>
  </li>

  <li>
    <strong>Capacity:</strong>
    <%= @room.capacity %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @room.description %>
  </li>

  <li>
    <strong>Color:</strong>
    <%= @room.color %>
  </li>

  <li>
    <strong>Overlap Acceptance:</strong>
    <%= @room.overlap_acceptance %>
  </li>

</ul>

<%= if RoomPlz.User.is_admin?(@current_user) do %>
<%= link "Edit", to: branch_room_path(@conn, :edit, @branch, @room) %>
<%= end %>

<%= link "Back", to: branch_room_path(@conn, :index, @branch) %>
