<h2>Suggest list of rooms</h2>

<hr>
<%= form_for @conn, room_path(@conn, :suggestion), [as: :event], fn f -> %>

<%= hidden_input f, :frequency %>
<%= hidden_input f, :interval %>
<%= hidden_input f, :weekday %>
<%= hidden_input f, :count %>
<%= hidden_input f, :until %>
<%= hidden_input f, :status %>

<div class="form-group">
    <%= label f, :branch, class: "control-label" %>
    <%= select f, :branch, @branches, class: "selectpicker form-control" %>
</div>

<div class="form-group">
    <%= label f, :room_capacity, class: "control-label" %>
    <%= number_input f, :capacity, class: "form-control" %>
</div>

<div class="form-group">
    <%= label f, :start_date, class: "control-label" %>
    <%= text_input f, :date, class: "form-control date" %>
</div>

<div class="form-group">
    <%= label f, :time_length, class: "control-label"%>
    <%= select f, :time_length, ["In a day": "day", "In a week": "week", "In a month": "month"], class: "form-control time-length" %>
</div>

<div class="form-group col-sm-6 zero-padding-left">
    <%= label f, :suggestion_type, class: "control-label", style: "padding-left: 0" %>
    <%= select f, :type, ["Time block": "block", "Duration": "duration"], class: "form-control type" %>
</div>

<div class="col-sm-6 zero-padding-right">
    <div class="form-group start-field">
        <%= label f, :start_time, class: "control-label" %>
        <%= text_input f, :start, class: "form-control start" %>
    </div>

    <div class="form-group end-field">
        <%= label f, :end_time, class: "control-label" %>
        <%= text_input f, :end, class: "form-control end" %>
    </div>

    <div class="form-group duration-field" hidden>
        <%= label f, :duration, class: "control-label" %>
        <%= text_input f, :duration, class: "form-control duration" %>
    </div>
</div>

<div class="form-group" hidden>
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
</div>

<div class="form-group">
    <%= label f, :repeat, class: "control-label" %>
    <input id="repeat-checkbox"  type="checkbox" value="true" style=" position: relative; top: 2px; left: 3px;" %> &nbsp;
    <a id="repeat-edit" style="cursor: pointer" hidden %> Edit </a>
    <input id="summary-capture" name="event[repeat]" class="form-control" disabled>
</div>

<!--Modal form-->
<div class="form-horizontal" id="repeat-event" hidden>

    <div class="form-group">
        <label class="col-sm-3 control-label">Repeats</label>
        <div class="col-sm-9">
            <%= select f, :frequency, RoomPlz.Room.get_repeat_type(:type), class: "selectpicker form-control", id: "frequency" %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Repeat every</label>
        <div class="col-sm-9">
            <%= select f, :interval, RoomPlz.Room.get_repeat_time([], 30), class: "selectpicker form-control", id: "interval"%>
        </div>
    </div>

    <div class="form-group weekday" hidden>
        <label class="col-sm-3 control-label">Day of Week</label>
        <div class="col-sm-9">
            <label class="checkbox-inline"><input type="checkbox" value="Monday" class="dayOfWeek">M</label>
            <label class="checkbox-inline"><input type="checkbox" value="Tuesday" class="dayOfWeek">T</label>
            <label class="checkbox-inline"><input type="checkbox" value="Wednesday" class="dayOfWeek">W</label>
            <label class="checkbox-inline"><input type="checkbox" value="Thursday" class="dayOfWeek">T</label>
            <label class="checkbox-inline"><input type="checkbox" value="Friday" class="dayOfWeek">F</label>
            <label class="checkbox-inline"><input type="checkbox" value="Saturday" class="dayOfWeek">S</label>
            <label class="checkbox-inline"><input type="checkbox" value="Sunday" class="dayOfWeek">S</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Start Date</label>
        <div class="col-sm-9">
            <input type="text" class="form-control start-date" disabled>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">End Date</label>
        <div class="col-sm-9">
            <div class="radio">
                <label><input type="radio" name="end_date" value="never" checked>Never</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="end_date" style="margin-top: 10px" value="count">
                    After <input type="number" name="quantity" min="1" class="form-control" style="display: inline-block; width: 30%" value="10"> occurrences
                </label>
            </div>
            <div class="radio" >
                <label><input type="radio" name="end_date" style="margin-top: 10px" value="until">
                    Until <input class="form-control end-date" style="display: inline-block; width: 50%">
                </label>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Summary</label>
        <div class="col-sm-9">
            <strong><p id="repeat-summary" class="form-control">Every <span id="interval-value">1</span> day(s) <span id="occurrences"></span></p></strong>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-danger repeat-cancel pull-right">Cancel</button>
            <button type="submit" class="btn btn-success repeat-accept pull-right" style="margin-right: 10px">Done</button>
        </div>
    </div>
</div>

<!--Submit form-->
<div class="form-group">
    <%= submit "Show suggestion", class: "btn btn-primary", id: "show-suggestion" %>
</div>
<% end %>

<div class="panel panel-info panel-room" hidden>
    <div class="panel-heading">
        List of available room suggestions
    </div>
    <div class="panel-footer"></div>
</div>