<%= form_for @conn, branch_event_path(@conn, :update, @branch, @event),
[as: :event, style: "display: inline-block"], fn f -> %>
<input name="_method" type="hidden" value="PUT">
<%= text_input f, :status, hidden: true, value: "approved" %>
<div class="form-group">
    <%= submit "Approve", class: RoomPlz.Event.get_class(@event.status, :approved),
    disabled: @event.status == "approved" %>
</div>
<%= end %>

<%= form_for @conn, branch_event_path(@conn, :update, @branch, @event),
[as: :event, style: "display: inline-block"], fn f -> %>
<input name="_method" type="hidden" value="PUT">
<%= text_input f, :status, hidden: true, value: "rejected" %>
<div class="form-group">
    <%= submit "Reject", class: RoomPlz.Event.get_class(@event.status, :rejected),
    disabled: @event.status == "rejected" %>
</div>
<%= end %>