<h2>Edit event</h2>

<%= render "form.html", changeset: @changeset, user: @current_user, branch: @branch,
                        conn: @conn, event: @event, action: branch_event_path(@conn, :update, @branch, @event) %>

<%= link "Back", to: branch_calendar_path(@conn, :index, @branch) %>
