<hr>
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input f, :creator_id, value: RoomPlz.Event.show_creator_id(@event, @user) %>
  <%= hidden_input f, :creator_name, value: @user.name %>
  <%= hidden_input f, :frequency %>
  <%= hidden_input f, :interval %>
  <%= hidden_input f, :weekday %>
  <%= hidden_input f, :count %>
  <%= hidden_input f, :until %>
  <%= hidden_input f, :status %>
  <%= hidden_input f, :action %>

  <div class="form-group">
    <%= required_label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :date, class: "control-label" %>
    <%= text_input f, :date, class: "form-control date" %>
    <%= error_tag f, :overlap %>
  </div>

  <div>
    <div class="col-sm-6 form-group zero-padding-left">
      <%= label f, :start_time, class: "control-label" %>
      <%= if (Map.has_key?(@event, :start)) do %>
        <input type="text" name="event[start]" value="<%= convert_timezone(@event.start) %>" class="start form-control">
      <%= else %>
        <%= text_input f, :start, class: "form-control start" %>
      <%= end %>
      <%= error_tag f, :start %>
    </div>

    <div class="col-sm-6 form-group zero-padding-right">
      <%= label f, :end_time, class: "control-label" %>
      <%= if (Map.has_key?(@event, :end)) do %>
        <input type="text" name="event[end]" value="<%= convert_timezone(@event.end) %>" class="end form-control">
      <%= else %>
        <%= text_input f, :end, class: "form-control end" %>
      <%= end %>
      <%= error_tag f, :end %>
    </div>
  </div>

  <div class="form-group" hidden>
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :room, class: "control-label" %>
    <%= select f, :room_id, RoomPlz.Room.all_for_branch(@branch.id), class: "selectpicker form-control room-picker" %>
    <%= error_tag f, :room_id %>
  </div>

  <div class="form-group">
    <div class="col-sm-6 form-group zero-padding-left">
      <label class="control-label">Team Calendar</label>
      <%= select f, :team_id, @conn.assigns.teams, prompt: "Choose your team", class: "form-control" %>
    </div>
    <div class="col-sm-6 form-group zero-padding-right">
      <label class="control-label">Team Event Color</label>
      <%= text_input f, :team_color, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Email Invitation (**Press <ins>Enter</ins> after each input)</label>
    <%= text_input f, :invitation, class: "form-control", id: "invitations" %>
    <%= error_tag f, :invitation %>
  </div>

  <div class="form-group">
    <label class="control-label">Collaborator (**Press <ins>Enter</ins> after each input)</label>
    <%= text_input f, :collaborators, class: "form-control", id: "collaborators" %>
    <%= error_tag f, :room_id %>
  </div>

  <div class="form-group">
    <%= label f, :repeat, class: "control-label" %>
    <input id="repeat-checkbox"  type="checkbox" value="true" style=" position: relative; top: 2px; left: 3px;"
      <%= if (Map.has_key?(@event, :repeat) && @event.repeat != nil), do: "checked" %> >
  &nbsp; <a id="repeat-edit" style="cursor: pointer"
      <%= if (!Map.has_key?(@event, :repeat) || @event.repeat == nil), do: "hidden" %> > Edit </a>
    <input id="summary-capture" name="event[repeat]" class="form-control" disabled
      value="<%= if (Map.has_key?(@event, :repeat) && @event.repeat != nil), do: @event.repeat %>"
      style="display: <%= if (!Map.has_key?(@event, :repeat) || @event.repeat == nil), do: "none" %>" >
  </div>

  <!--Modal form-->
  <div class="form-horizontal" id="repeat-event" hidden>

    <div class="form-group">
      <label class="col-sm-3 control-label">Repeats</label>
      <div class="col-sm-9">
        <%= select f, :frequency, RoomPlz.Room.get_repeat_type(:type), class: "selectpicker form-control", id: "frequency" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Repeat every</label>
      <div class="col-sm-9">
        <%= select f, :interval, RoomPlz.Room.get_repeat_time([], 30), class: "selectpicker form-control", id: "interval" %>
      </div>
    </div>

    <div class="form-group week-order" <%= if @changeset.data.frequency != "Monthly", do: "hidden" %>>
      <label class="col-sm-3 control-label">Week Order</label>
      <div class="col-sm-9">
        <%= select f, :week_order, RoomPlz.Room.get_repeat_type(:order), class: "form-control", id: "week-order" %>
      </div>
    </div>

    <div class="form-group weekday" <%= if @changeset.data.frequency != "Weekly" || @changeset.data.frequency != "Monthly", do: "hidden" %> >
      <label class="col-sm-3 control-label">Day of Week</label>
      <div class="col-sm-9">
        <label class="checkbox-inline"><input type="checkbox" value="Monday" class="dayOfWeek">M</label>
        <label class="checkbox-inline"><input type="checkbox" value="Tuesday" class="dayOfWeek">T</label>
        <label class="checkbox-inline"><input type="checkbox" value="Wednesday" class="dayOfWeek">W</label>
        <label class="checkbox-inline"><input type="checkbox" value="Thursday" class="dayOfWeek">T</label>
        <label class="checkbox-inline"><input type="checkbox" value="Friday" class="dayOfWeek">F</label>
        <label class="checkbox-inline"><input type="checkbox" value="Saturday" class="dayOfWeek">S</label>
        <label class="checkbox-inline"><input type="checkbox" value="Sunday" class="dayOfWeek">S</label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Start Date</label>
      <div class="col-sm-9">
        <input type="text" class="form-control start-date" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">End Date</label>
      <div class="col-sm-9">
        <div class="radio">
          <label><input type="radio" name="end_date" value="never" checked>Never</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="end_date" style="margin-top: 10px" value="count">
            After <input type="number" name="quantity" min="1" class="form-control" style="display: inline-block; width: 30%" value="10"> occurrences
          </label>
        </div>
        <div class="radio" >
          <label><input type="radio" name="end_date" style="margin-top: 10px" value="until">
            Until <input class="form-control end-date" style="display: inline-block; width: 50%">
          </label>
        </div>

      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Summary</label>
      <div class="col-sm-9">
        <strong><p id="repeat-summary" class="form-control">Every <span id="interval-value">1</span> day(s) <span id="occurrences"></span></p></strong>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-danger repeat-cancel pull-right">Cancel</button>
        <button type="submit" class="btn btn-success repeat-accept pull-right" style="margin-right: 10px">Done</button>
      </div>
    </div>
  </div>

  <!--Submit form-->
  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary form-submit" %>
  </div>

<% end %>