<h2>Listing events</h2>

<hr>
<div>
  <div class="form-group branch-selection row">
    <label class="control-label col-sm-2">Branch: </label>
    <%= link "New event", to: branch_event_path(@conn, :new, @branch), class: "btn btn-primary index-new-event col-sm-2" %>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-2">
      All events
      <span class="badge" data-toggle="tooltip" data-placement="top" title="By default, only 150 recent events are shown">?</span>
      :
    </label>
    <%= link "Show All Events", to: branch_event_path(@conn, :index, @branch, show: "all"), class: "btn btn-success col-sm-2" %>
  </div>

  <div class="form-group branch-selection row">
    <label class="control-label col-sm-2">Event Logs: </label>
    <%= link "Show All Logs", to: event_log_path(@conn, :index, branch_id: @branch.id), class: "btn btn-success col-sm-2" %>
  </div>
</div>

<hr>
<table class="table" id="search-table">
  <thead class="table-header">
    <tr>
      <th>ID <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Title <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Room <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Creator <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Team <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Collaborators <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Start <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>End <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Repeat <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Status <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Create at <i class="fa fa-sort" aria-hidden="true"></i></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.room.name %></td>
      <td><%= event.creator.name %></td>
      <td><%= if event.team, do: event.team.name, else: "" %></td>
      <td>
        <%= if event.collaborators do %>
          <select class="selectpicker" data-width="150px">
            <%= for email <- RoomPlz.User.show_emails(event.collaborators) do %>
              <option><%= email %></option>
            <%= end %>
          </select>
        <%= end %>
      </td>
      <td><%= convert_timezone(event.start) %></td>
      <td><%= convert_timezone(event.end) %></td>
      <td><%= event.repeat %></td>
      <td><%= String.capitalize(event.status) %></td>
      <td><%= RoomPlz.Tools.naive_to_local_datetime(event.inserted_at, :datetime_str) %></td>

      <td class="text-right" style="width: 300px">
        <%= Phoenix.View.render RoomPlz.EventView, "action.html", %{conn: @conn, event: event, branch: @branch} %>

        <%= link "Edit", to: branch_event_path(@conn, :edit, @branch, event), class: "btn btn-primary btn-xs" %>
        <%= link "Show", to: branch_event_path(@conn, :show, @branch, event), class: "btn btn-primary btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>