<h2>New event</h2>

<%= render "form.html", changeset: @changeset, user: @current_user, branch: @branch, event: %{},
                        conn: @conn, action: branch_event_path(@conn, :create, @branch) %>

<%= link "Back", to: branch_calendar_path(@conn, :index, @branch) %>
