<h2>Show event</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @event.title %>
  </li>

  <li>
    <strong>Room:</strong>
    <%= @event.room.name %>
  </li>

  <li>
    <strong>Creator:</strong>
    <%= @event.creator.name %>
  </li>

  <li>
    <strong>Team:</strong>
    <%= if @event.team, do: @event.team.name, else: "" %>
  </li>

  <li>
    <strong>Start:</strong>
    <%= convert_timezone(@event.start) %>
  </li>

  <li>
    <strong>End:</strong>
    <%= convert_timezone(@event.end) %>
  </li>

  <li>
    <strong>Repeat:</strong>
    <%= @event.repeat %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @event.status %>
  </li>

</ul>

<hr>
<h3>Event log</h3>

<table class="table" id="log-table">
  <thead class="table-header">
  <tr>
    <th>Event ID <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Event <i class="fa fa-sort" aria-hidden="true"></th>
    <th>User <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Action <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Detail <i class="fa fa-sort" aria-hidden="true"></th>
    <th>Create at <i class="fa fa-sort" aria-hidden="true"></th>
  </tr>
  </thead>
  <tbody>
  <%= for event_log <- @event_logs do %>
  <tr>
    <td><%= event_log.event.id %></td>
    <td><%= event_log.event.title %></td>
    <td><%= event_log.user.name %></td>
    <td><%= event_log.action %></td>
    <td><%= event_log.detail %></td>
    <td><%= RoomPlz.Tools.naive_to_local_datetime(event_log.inserted_at, :datetime_str) %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= if RoomPlz.User.is_admin?(@current_user) || @current_user.id == @event.creator.id do %>
<%= link "Edit", to: branch_event_path(@conn, :edit, @branch, @event), class: "btn btn-primary btn-xs" %> &nbsp;
<%= Phoenix.View.render RoomPlz.EventView, "action.html", %{conn: @conn, event: @event, branch: @branch} %>
<%= end %>
<%= link "Back", to: branch_event_path(@conn, :index, @branch), class: "btn btn-primary btn-xs" %>
