<h2>Listing branches</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Calendar ID</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for branch <- @branches do %>
    <tr>
      <td><%= branch.id %></td>
      <td><%= branch.name %></td>
      <%= if RoomPlz.User.is_admin?(@current_user) do %>
        <td><%= branch.calendar_id %></td>
      <%= end %>
      <td class="text-right">
        <%= link "Calendar", to: branch_calendar_path(@conn, :index, branch), class: "btn btn-success btn-xs" %>
        <%= link "Rooms", to: branch_room_path(@conn, :index, branch), class: "btn btn-default btn-xs" %>
        <%= link "Events", to: branch_event_path(@conn, :index, branch), class: "btn btn-default btn-xs" %>
        <%= link "Show", to: branch_path(@conn, :show, branch), class: "btn btn-primary btn-xs" %>
        <%= link "Edit", to: branch_path(@conn, :edit, branch), class: "btn btn-primary btn-xs" %>
        <%= link "Delete", to: branch_path(@conn, :delete, branch), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= if RoomPlz.User.is_admin?(@current_user) do %>
  <%= link "New branch", to: branch_path(@conn, :new), class: "btn btn-primary" %>
  <btn class="btn btn-primary new-room" style="margin-left: 10px">New room</btn>
<%= end %>
<btn class="btn btn-primary new-event" style="margin-left: 5px">New event</btn>

<div class="branch-selection" hidden>
  <div class="form-group">
    <label class="control-label">Branch: </label>
    <select name="branch" class="selectpicker" id="branch-picker">
      <%= for {name, id} <- RoomPlz.Branch.all_for_select() do %>
          <option value="<%= id %>"><%= name %></option>
      <%= end %>
    </select>
    <%= link "Go", to: branch_event_path(@conn, :new, RoomPlz.Branch.default_branch_id()), class: "btn btn-success branch-new-event" %>
    <%= link "Go", to: branch_room_path(@conn, :new, RoomPlz.Branch.default_branch_id()), class: "btn btn-success branch-new-room" %>
  </div>
</div>