<h2>Show branch</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @branch.name %>
  </li>

  <li>
    <strong>Calendar ID:</strong>
    <%= @branch.calendar_id %>
  </li>

  <%= if RoomPlz.User.is_admin?(@current_user) do %>
  <li>
    <%= link "New room", to: branch_room_path(@conn, :new, @branch) %>
  </li>
  <%= end %>

  <li>
    <%= link "Show rooms", to: branch_room_path(@conn, :index, @branch) %>
  </li>

  <li>
    <%= link "Show events", to: branch_event_path(@conn, :index, @branch) %>
  </li>

  <li>
    <%= link "New event", to: branch_event_path(@conn, :new, @branch) %>
  </li>

</ul>

<%= link "Show Calendar", to: branch_calendar_path(@conn, :index, @branch), class: "btn btn-success" %> &nbsp;

<%= if RoomPlz.User.is_admin?(@current_user) do %>
<%= link "Edit", to: branch_path(@conn, :edit, @branch), class: "btn btn-primary" %> &nbsp;
<%= end %>

<%= link "Back", to: branch_path(@conn, :index), class: "btn btn-primary" %>
