/* This file is for your main application css. */
/*Override phoenix*/
body {
    margin-top: 0;
    overflow-x: hidden;
}

table{
    margin-top: 0;
    margin-bottom: 0;
}

.table-header{
    color: royalblue;
}

/* Navigation */
#main, #container {
    padding: 0;
}

.navbar-library {
    border-bottom: solid 1px #bbd6e6;
    margin-bottom: 10px;
    background: rgb(32, 36, 39);
}

.navbar-nav {
    position: relative;
    top: 15px;
    padding-right: 15px;
}

.navbar-nav a {
    transition: all .2s ease-in;
    color: white;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: white;
    color: black;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: white;
    color: black;
}

.nav>li>.top-nav {
    cursor: pointer;
    display: none;
}

#logout {
    margin: 0;
}

#logout:hover {
    background: #f5f5f5;
    cursor: pointer;
}

#logout button {
    margin-left: 15px;
    border: none;
    background: none;
}

.manage > .dropdown-menu {
    right: 100%;
    top: 0%;
}

.dropdown-menu {
    z-index: 2000;
}
/* Loading */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 1199;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 666px;
    height: 500px;
    margin-top: -250px; /* Half the height */
    margin-left: -333px; /* Half the width */
    z-index: 1001;
}

/* Title */
.bootstrap-tagsinput {
    width: 100% !important;
}

#logo{
    margin: 15px 15px 20px 133px;
    width: 120px;
    position: relative;
}

.slot {
    float: left;
    padding: 9px;
    border: 1px solid rgba(255, 152, 0, 0.87);
    font-size: 14.3px;
    word-wrap: break-word;
    background: #FFEE58;
}

#room-title, #car-title {
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 1000;
}

/*Override full-calendar*/
.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding: 0;
}

#room-title .fc-day-grid .fc-content-skeleton td:last-child{
    width: 0;
}

#car-title .last-child{
    width: 0;
}

.fc-day-grid .fc-content-skeleton td{
    word-wrap: break-word;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
    font-weight: bold;
}

#car-calendar .fc-center {
    position: relative;
    left: 155px;
}

#car-calendar .fc-center > h2 {
    font-size: 20px;
}

.fc-center {
    position: relative;
    left: 175px;
}
.fc-day{
    background: #fcf8e3;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 0 0 2px;
}

div.fc-content {
    color: white;
}

/*Override datatables*/
#search-table_filter {
    float: right;
}

#search-table_paginate ul{
    float: right;
    margin-top: 0;
    position: relative;
    top: -10px;
}

/*Added elements*/
.authentication {
    position: relative;
    padding: 0 15px;
    top: 30px;
    left: 15px;
    z-index: 1000;
    width: 50%;
}
.pick-date{
    position: relative;
    padding: 0 15px;
    top: 25px;
    z-index: 1000;
    width: 42%;
}

.pick-date label {
    top: 5px;
}

#calendar, #car-calendar {
    position: relative;
    top: -60px;
    padding: 0 15px;
}


.branch-title {
    position: relative;
    top: -60px;
    left: 15px;
    font-weight: 600;
    font-size: 28px;
    color: coral;
}

.index-new-event {
    margin-right: 15px;
}

.zero-padding-left {
    padding-left: 0;
}

.zero-padding-right {
    padding-right: 0;
}

#warning-overlap, #warning-expire {
    position: fixed;
    z-index: 1000;
    border-radius: 100%;
    padding: 3px;
}

#warning-overlap {
    background: red;
    bottom: 30px;
    left: 10px;
}

#warning-expire {
    background: steelblue;
    bottom: 80px;
    left: 10px;
}

#warning-overlap:hover, #warning-expire:hover {
    transform: scale(1.3);
    cursor: pointer;
}
/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}

.import-events {
    display: none;
}

#edit-user, #edit-user:focus, #edit-user:hover {
    color: white;
}

.lead > .badge {
    background-color: #2e6cb9;
}
.lead > .badge:focus, .lead > .badge:hover {
    background: #11478a;
}