<h2>Listing event logs</h2>

<table class="table" id="log-table">
    <thead class="table-header">
    <tr>
        <th>Event ID <i class="fa fa-sort" aria-hidden="true"></th>
        <th>Event <i class="fa fa-sort" aria-hidden="true"></th>
        <th>User <i class="fa fa-sort" aria-hidden="true"></th>
        <th>Action <i class="fa fa-sort" aria-hidden="true"></th>
        <th>Detail <i class="fa fa-sort" aria-hidden="true"></th>
        <th>Create at <i class="fa fa-sort" aria-hidden="true"></th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    <%= for event_log <- @event_logs do %>
    <tr>
        <td><%= event_log.event.id %></td>
        <td><%= event_log.event.title %></td>
        <td><%= event_log.user.name %></td>
        <td><%= event_log.action %></td>
        <td><%= event_log.detail %></td>
        <td><%= RoomPlz.Tools.naive_to_local_datetime(event_log.inserted_at, :datetime_str) %></td>

        <td class="text-right">
            <%= link "Show", to: branch_event_path(@conn, :show, @branch, event_log.event.id), class: "btn btn-default btn-xs" %>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>