<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 blog-main">

            <div class="blog-post">
                <div id="car-title" class="col-sm-12">

                    <!-- Calendar Title Header -->
                    <div class="fc fc-unthemed fc-ltr">
                        <div class="fc-view-container">
                            <div class="fc-view fc-agendaDay-view fc-agenda-view">
                                <table>
                                    <tbody class="fc-body">
                                    <tr>
                                        <td class="fc-widget-content" >
                                            <div class="fc-day-grid fc-unselectable" style="border-right-width: 1px;">
                                                <div class="fc-row fc-week fc-widget-content">
                                                    <div class="fc-bg">
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                <td class="fc-axis fc-widget-content" style="width: 38px;background: white"><span>Car</span></td>
                                                                <td class="fc-day fc-widget-content fc-tue fc-state-highlight" id="taskbar"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="fc-content-skeleton">
                                                        <table>
                                                            <tbody>
                                                            <tr id="row-content">
                                                                <td class="fc-axis" style="width: 38px"></td>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group authentication row">
                    <label class="control-label col-sm-6"></label>
                </div>

                <!--Date Picker-->
                <div class="form-group row pick-date">
                    <div class="col-sm-5">
                        <label for="minicalendar" class="col-sm-3 control-label">Date: </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="minicalendar">
                        </div>
                    </div>
                    <div class="col-sm-5" style="position: relative; left: -40px;">
                        <label class="col-sm-3 control-label">
                            Car:
                        </label>
                        <div class="col-sm-9" style="padding: 0 5px">
                            <select class="form-control" id="car-display">
                                <option value="0">Choose a car</option>
                                <%= for car <- @cars do %>
                                <option value="<%= car.id %>"><%= car.name %></option>
                                <%= end %>
                            </select>

                        </div>
                    </div>
                </div>

                <!--Print out calendar -->
                <h3 class="text-center branch-title">
                    Car Booking Schedule
                </h3>
                <div id='car-calendar'
                     data-user-id = "<%= if (@current_user), do: @current_user.id %>"
                     data-user-role = "<%= if (@current_user), do: @current_user.role %>"
                     data-csrf-token = "<%= Plug.CSRFProtection.get_csrf_token() %>"
                >

                </div>

                <!--Show tooltip when click-->
                <div id="slot-popup" style="display:none;">
                    When: <span id="slot-when"></span><br>
                    Driver: <span id="slot-driver"></span><br>
                    Utilizer: <span id="slot-utilizer"></span><br>
                    Creator: <span id="slot-creator"></span><br>
                    Description: <span id="slot-description"></span><br>
                    <span id="slot-repeat"></span>
                    <br>
                    <a class="btn btn-warning reject" data-slot-id="0">Reject</a>
                    <a class="btn btn-primary edit" href="#">Edit</a>
                    <a class="btn btn-primary details" href="#" target="_blank">Details</a>
                </div>

                <!--New slot when select-->
                <%= if (@current_user) do %>
                <div id="new-slot" hidden>
                    <%= form_for @conn, slot_path(@conn, :create), [as: :slot], fn f -> %>
                    <%= hidden_input f, :creator_id, value: @current_user.id %>
                    <%= hidden_input f, :start %>
                    <%= hidden_input f, :end %>

                    <div class="form-group">
                        <%= required_label f, :title, class: "control-label" %>
                        <%= text_input f, :title, class: "form-control", id: "car-name" %>
                    </div>

                    <div>
                        <div class="col-sm-4 zero-padding-left">
                            <label class="control-label">When</label>
                            <p id="datetime" class="form-control"></p>
                        </div>

                        <div class="col-sm-4 form-group zero-padding-right">
                            <label class="control-label">
                                Start <span class="time-format-error" style="color: red;" hidden>(XX:XX)</span>
                            </label>
                            <%= text_input f, :start_time, class: "form-control start" %>

                        </div>

                        <div class="col-sm-4 form-group zero-padding-right">
                            <label class="control-label">
                                End <span class="time-format-error" style="color: red;" hidden>(XX:XX)</span>
                            </label>
                            <%= text_input f, :end_time, class: "form-control end" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= required_label f, :driver, class: "control-label" %>
                        <%= text_input f, :driver, class: "form-control" %>
                    </div>

                    <div class="form-group">
                        <%= required_label f, :utilizer, class: "control-label" %>
                        <%= text_input f, :utilizer, class: "form-control" %>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Car: </label>
                        <select name="slot[car_id]" class="form-control" id="car-picker">
                            <%= for car <- @cars do %>
                            <option value="<%= car.id %>"><%= car.name %></option>
                            <%= end %>
                        </select>
                    </div>

                    <div class="form-group">
                        <%= label f, :description, class: "control-label" %>
                        <%= textarea f, :description, class: "form-control" %>
                    </div>

                    <div class="form-group" id="invitation-div"></div>

                    <%= submit "Submit", class: "btn btn-success form-submit" %>
                    <% end %>
                </div>
                <%= end %>
            </div>
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->