<h2>Listing cars</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Description</th>
      <th>Color</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for car <- @cars do %>
    <tr>
      <td><%= car.name %></td>
      <td><%= car.capacity %></td>
      <td><%= car.description %></td>
      <td><%= car.color %></td>

      <td class="text-right">
        <%= link "Show", to: car_path(@conn, :show, car), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: car_path(@conn, :edit, car), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: car_path(@conn, :delete, car), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Calendar", to: car_path(@conn, :show_car_calendar) %> &nbsp;
<%= link "New car", to: car_path(@conn, :new) %>
