<h2>Show car</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @car.name %>
  </li>

  <li>
    <strong>Capacity:</strong>
    <%= @car.capacity %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @car.description %>
  </li>

  <li>
    <strong>Color:</strong>
    <%= @car.color %>
  </li>

</ul>

<%= link "Calendar", to: car_path(@conn, :show_car_calendar) %> &nbsp;
<%= link "Edit", to: car_path(@conn, :edit, @car) %> &nbsp;
<%= link "Back", to: car_path(@conn, :index) %>
