<!-- Authentication -->
<div class="form-group authentication row">
    <label class="control-label col-sm-6">
        Authentication
        <span class="badge" data-toggle="tooltip" data-placement="top" title="Authenticate, then F5 to refresh and access calendar!">?</span>
        :
        <%= if @branch.refresh_token do %>
        <button class="btn btn-success btn-xs gg-auth">Re-Authorize</button>

        <!-- Authorization -->
        <div id="gg-auth" hidden>
            <div style="margin-bottom: 10px">
                You are currently authorized with email: <strong><%= @branch.auth_email %></strong>.
            </div>
            <%= link "Authrorize with different email", to: auth_path(@conn, :gg_authenticate), method: :get, class: "btn btn-success" %>
        </div>
        <%= else %>
        <%= link "Authorize", to: auth_path(@conn, :gg_authenticate), method: :get, class: "btn btn-success btn-xs" %>
        <%= end %>

        <!-- Import Events -->
        <button class="btn btn-success btn-xs import-events">Import events</button>

        <div id="get-calendar-id" hidden>
            <div class="form-group">
                <label class="control-label">Source Calendar ID to import events</label>
                <input type="text" class="form-control" id="calendar-id">
            </div>

            <div class="form-group">
                <button class="btn btn-success import">Continue</button>
            </div>
        </div>
    </label>
</div>