<h2 style="text-align: center; margin-bottom: 25px">Welcome to Framgia Booking</h2>
<div class="jumbotron">
    <%= if RoomPlz.Branch.default_branch_id() == 0 do %>
        <div class="lead">
            There is no branch available. <br>
            Please <%= link "create a new branch", to: branch_path(@conn, :new), class: "btn btn-success" %> first
        </div>
    <%= else %>
        <div class="lead">
            Please choose your destination calendar
            <%= if @current_user do %>
            <span class="badge" data-toggle="tooltip" data-placement="top" title="Go to profile to change default branch">
                <a href="<%= user_path(@conn, :edit, @current_user.id) %>" id="edit-user"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
            </span>
            <%= end %>

            <div style="margin-top: 10px;">
                <select name="branch" class="selectpicker" id="branch-picker">
                    <%= for {name, id} <- @branches do %>
                    <option value="<%= id %>"><%= name %></option>
                    <%= end %>
                </select>

                <%= if RoomPlz.Branch.default_branch_id() do %>
                <%= link "Select", to: branch_calendar_path(@conn, :index, RoomPlz.Branch.default_branch_id(@current_user)), class: "btn btn-success branch-selection" %>
                <%= else %>
                <button class="btn btn-success no-branch">Select</button>
                <%= end %>
            </div>
        </div>

        <%= if RoomPlz.User.is_admin?(@current_user) do %>
        <hr width="10%" style="border-color: darkgray">

        <div class="lead">
            Or would you like to
            <%= link "create a new branch", to: branch_path(@conn, :new), class: "btn btn-success" %>
        </div>
        <%= end %>

        <hr width="10%" style="border-color: darkgray">

        <div class="lead">
            Or would you like to
            <%= link "get room suggestions", to: room_path(@conn, :suggestion), class: "btn btn-success" %>
        </div>

        <%= if RoomPlz.User.is_admin?(@current_user) do %>
        <hr width="50%" style="border-color: #ff5200">
        <div class="lead">
            Otherwise, go to
            <%= link "car calendar", to: car_path(@conn, :show_car_calendar), class: "btn btn-primary" %>
        </div>
        <%= end %>
    <%= end %>
</div>