<h2>Listing slot logs</h2>


<table class="table" id="log-table">
  <thead class="table-header">
    <tr>
      <th>Action <i class="fa fa-sort" aria-hidden="true"></th>
      <th>Slot ID <i class="fa fa-sort" aria-hidden="true"></th>
      <th>Slot <i class="fa fa-sort" aria-hidden="true"></th>
      <th>Detail <i class="fa fa-sort" aria-hidden="true"></th>
      <th>User <i class="fa fa-sort" aria-hidden="true"></th>
      <th>Utilizer <i class="fa fa-sort" aria-hidden="true"></th>
      <th>Driver <i class="fa fa-sort" aria-hidden="true"></th>
      <th>Create at <i class="fa fa-sort" aria-hidden="true"></th>
    </tr>
  </thead>
  <tbody>
<%= for slot_log <- @slot_logs do %>
    <tr>
      <td><%= slot_log.action %></td>
      <td><%= slot_log.slot.id %></td>
      <td><%= slot_log.slot.title %></td>
      <td><%= slot_log.detail %></td>
      <td><%= slot_log.user.name %></td>
      <td><%= slot_log.utilizer %></td>
      <td><%= slot_log.driver %></td>
      <td><%= RoomPlz.Tools.naive_to_local_datetime(slot_log.inserted_at, :datetime_str) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<div>
  <strong>By default, there are only 50 recent logs are shown</strong>
</div>
<div>
  <%= link "Show all logs", to: slot_log_path(@conn, :index, "show": "all"), class: "btn btn-success col-sm-2" %>
</div>
